@use "./helpers/variables" as *;
@use "./helpers/mixins" as *;

header {
  background-color: rgba($black, 0.5);
  display: flex;
  position: fixed;
  width: 100%;
  top: 0px;
  transition: 0.4s;
  padding: 25px 0;

  @media only screen and (max-width: 768px) {
    position: static;
    padding: 0;
  }

  .region-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 1012px;

    @media only screen and (max-width: 768px) {
      display: block;
    }

    div#block-adchallenge-branding.block {
      @include flexCenterContent;

      @media only screen and (max-width: 768px) {
        margin-top: 30px;
      }

      .site-logo {
        margin-right: 30px;
      }

      .site-slogan {
        color: $white;
        font-weight: 300;
        font-size: 24px;

        .site-slogan-bold {
          font-weight: 900;
          font-size: inherit;
        }
      }
    }
  }

  nav {
    ul.menu {
      display: flex;
      margin-top: 20px;

      @media only screen and (max-width: 768px) {
        display: block;
        text-align: center;
      }

      li.menu-item {
        margin: 0 20px;

        @media only screen and (max-width: 768px) {
          margin: 30px;
        }

        &.active {
          padding-bottom: 10px;
          border-bottom: 3px solid $blue;
        }

        a {
          @include linkColour;
          font-weight: 500;
          padding-bottom: 10px;
          border-bottom: 3px solid transparent;
          transition: color 0.3s ease-in-out, border-bottom, 0.3s ease-in-out;

          &:hover {
            border-bottom: 3px solid $blue;
          }
        }
      }
    }
  }
}
