@use "./helpers/variables" as *;
@use "./helpers/mixins" as *;

header {
  background-color: rgba($black, 0.5);
  display: flex;
  position: fixed;
  width: 100%;
  top: 0px;
  transition: 0.4s;
  padding: 25px 0;
  z-index: 1;

  .region-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 1012px;

    @media only screen and (max-width: 768px) {
      display: block;
    }

    /* Site logo and slogan */

    div#block-adchallenge-branding {
      @include flexCenterContent;

      @media only screen and (max-width: 768px) {
        margin-top: 30px;
        position: relative;
      }

      .site-logo {
        padding: 0 14px;
      }

      .site-slogan {
        color: $white;
        font-weight: 300;
        font-size: 24px;

        .site-slogan-bold {
          font-weight: 900;
          font-size: inherit;
        }
      }

      /* Hamburger menu */

      @media only screen and (max-width: 768px) {
        .nav-hamburger-menu {
          position: absolute;
          display: inline-block;
          cursor: pointer;
          top: 10%;
          right: 5%;
          border: 2px solid $white;
          border-radius: 5px;
          padding: 5px 10px;

          .menu-line1,
          .menu-line2,
          .menu-line3 {
            width: 25px;
            height: 3px;
            background-color: $white;
            margin: 6px 0;
            transition: 0.3s;
          }

          &.animate .menu-line1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
          }

          &.animate .menu-line2 {
            opacity: 0;
          }

          &.animate .menu-line3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-7px, -7px);
          }
        }
      }
    }

    /* Navigation menu */

    .menu {
      display: flex;
      margin-top: 20px;

      @media only screen and (max-width: 768px) {
        display: none;
        text-align: center;
      }

      .menu-item {
        margin: 0 20px;

        @media only screen and (max-width: 768px) {
          margin: 30px;
        }

        &.active {
          padding-bottom: 10px;
          border-bottom: 3px solid $blue;
        }

        a {
          @include linkColour;
          font-weight: 500;
          padding-bottom: 10px;
          border-bottom: 3px solid transparent;
          transition: color 0.3s ease-in-out, border-bottom, 0.3s ease-in-out;

          &:hover {
            border-bottom: 3px solid $blue;
          }
        }
      }
    }
  }
}
