@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900);

// font
$fontStack: "Roboto", sans-serif;

// font colours
$black: rgba(16, 16, 16, 1);
$red: rgba(255, 82, 82, 1);
$blue: rgba(0, 151, 167, 1);
$darkBlue: rgba(22, 30, 33, 1);
$white: rgba(255, 255, 255, 1);
$lightGray: rgba(212, 212, 212, 1);
$mediumGray: rgba(148, 148, 148, 1);

$blockPadding: 8rem 1rem;
